# Compose file suitable for local development.
# Run with:
# docker-compose -f docker-compose.yml up
# Will start a container with odoo and another one with postgres exposed
# on port 5433 (in case you have a local postgres already running).
# Also mounts a volume in your machine's /opt/odooo-docker/opt path mounted
# where the container's code is. The projects are cloned there, so you can
# use git to manage each container's repo branches. 
---
version: '3.1'
services:
  db:
    image: postgres:9.6.21
    environment:
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    ports:
      - "5433:5432"
    restart: always
    volumes:
      - data_storage:/var/lib/postgresql/data
  odoo12:
    container_name: odoo12
    depends_on:
      - db
    environment:
      - ADMIN_PASSWD=FIXME
      - DB_FILTER=False
    image: "rubencabrera/odoo-docker:12.5.15"
    ports:
      - "8169:8069"
      - "8171:8071"
      - "8172:8072"
    restart: always
    volumes:
      - codigo:/opt
      - odoo12_data:/var/lib/odoo
volumes:
  codigo:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /opt/odoo-docker/opt    # This is where the code will live.
  data_storage:
  odoo12_data:
